/**
*   theme colors
*/
/**
* Theme settings
*/
/**
* font size
*/
/**
* border radius
*/
/**
* Font Awesome
*/
.rounded-2 {
	border-radius: 1rem;
}

.rounded-1 {
	border-radius: 0.7rem;
}

.rounded-3 {
	border-radius: 1.2rem;
}

.rounded-2-top {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.rounded-2-bottom {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

/*# sourceMappingURL=border-radius.css.map */