/**
*   theme colors
*/
/**
* Theme settings
*/
/**
* font size
*/
/**
* border radius
*/
/**
* Font Awesome
*/
.text-sm {
	font-size: 0.9rem;
}

.text-vsm {
	font-size: 0.7rem;
}

h1, h2, h3, h4, h5, h6 {
	color: #30375b;
}

.fs-15 {
	font-size: 15px;
}

.text-sm {
	font-size: 15px !important;
}

.widget-title {
	font-size: 20px;
}

.site-footer ul {
	padding-left: 0px !important;
}

.fs-25 {
	font-size: 25px !important;
}

.fs-35 {
	font-size: 35px !important;
}

/*# sourceMappingURL=font-size.css.map */