/*!
Theme Name: Affiliate Program ET
Theme URI: http://underscores.me/
Author: Henok Tsegaye
Author URI: https://github.com/henoktsegaye
Description: An affiliate website a general purpose
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: affiliate-program-et
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Affiliate Program ET is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

@import "scss/variable";

$theme-colors: (
	"primary" :$primary ,
	"danger" : $danger ,
	"warning": $warning ,
	"info" : $info,
	"secondary": $secondary
);
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "scss/font-size.scss";
@import "scss/border-radius.scss";

/**
* font awesome libarary
*/
@import "font-awesome/scss/fontawesome.scss";
@import "font-awesome/scss/solid.scss";
@import "font-awesome/scss/regular.scss";
@import "font-awesome/scss/brands.scss";


.btn-group label.mixitup-control-active {
	@extend .active;
}
.btn-light.mixitup-control-active {
	@extend .btn-light;
}
.btn-link.mixitup-control-active .far {
	@extend .fas;
}

.search-submit {
	@extend .btn;
	@extend .btn-primary;
}

.search-field {
	@extend .form-control;
}

.sidebar h2 , #secondary-sidebar h2{
	font-size: 1.7rem;
	@extend .mb-3;
	@extend .mt-3;
}
select {
	@extend .form-control;
}

#secondary-sidebar ul , .sidebar ul {
	@extend .list-group;
	@extend .list-group-flush;
	@extend .pl-0;
	@extend .list-group-item-action;
}
#secondary-sidebar li , .sidebar li{
	@extend .list-group-item;
	@extend .pl-0;
}

.site-footer ul li a {
	@extend .text-dark;
	@extend .text-decoration-none;
	font-size:17px !important;
	@extend .text-capitalize;
}


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

// Import variables and mixins.
// @import "abstracts/abstracts";

// /*--------------------------------------------------------------
// # Generic
// --------------------------------------------------------------*/

// /* Normalize
// --------------------------------------------- */
// @import "generic/normalize";

// /* Box sizing
// --------------------------------------------- */
//@import "generic/box-sizing";

// /*--------------------------------------------------------------
// # Base
// --------------------------------------------------------------*/
// @import "base/base";

// /*--------------------------------------------------------------
// # Layouts
// --------------------------------------------------------------*/
// // @import "layouts/content-sidebar"; // Uncomment this line for a sidebar on right side of your content.
// // @import "layouts/sidebar-content"; // Uncomment this line for a sidebar on left side of your content.

// /*--------------------------------------------------------------
// # Components
// --------------------------------------------------------------*/
// @import "components/components";

// /*--------------------------------------------------------------
// # Plugins
// --------------------------------------------------------------*/

// /* Jetpack infinite scroll
// --------------------------------------------- */
// @import "plugins/jetpack/infinite-scroll";

// /*--------------------------------------------------------------
// # Utilities
// --------------------------------------------------------------*/

// /* Accessibility
// --------------------------------------------- */
// @import "utilities/accessibility";

// /* Alignments
// --------------------------------------------- */
// @import "utilities/alignments";
